.contact_form form {
}

.name_email {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form_name,
.form_email,
.company_name,
.form_message,
.send_btn {
	border: none;
	outline: none;
	background: #2b2b2b;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 20px;
}

.form_name,
.form_email {
	padding: 20px 25px;
	display: inline-block;
	width: 49%;
	/* margin-right: 5px; */
}

.company_name {
	padding: 20px 25px;
	display: inline-block;
	width: 100%;
}

.form_message {
	padding: 20px 25px;
	font-size: 14px;
	resize: none;
}

.send_btn {
	background: #3257e1;
	color: #fff;
	width: 100%;
	padding: 15px 0;
	cursor: pointer;
}