.hiremecontainer {
	width: 980px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px auto;
}

/* .hireme_text {
} */

.hireme_text h1 {
	font-size: 70px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}

.togetherTxt {
	color: #3257e1;
	width: 100%;
}

.divider::before {
	content: "";
	width: 2px;
	height: 500px;
	background: rgb(53, 53, 53);
	display: block;
	border-radius: 20px;
	margin: 0 35px;
}

@media (min-width: 810px) and (max-width: 1080px) {
	.hiremecontainer {
		flex-direction: column;
		width: 80%;
		margin: auto;
	}
	.hireme_text .hireme_title {
		font-size: 35px;
		font-weight: 600;
		text-align: center;
		margin: 15px 0;
	}
	.divider::before {
		display: none;
	}
}

@media (max-width: 812px) {
	.hiremecontainer {
		flex-direction: column;
		width: 90%;
		margin: auto;
	}
	.hireme_text .hireme_title {
		font-size: 30px;
		margin: 45px 0 35px 0;
		text-align: center;
	}
	.divider::before {
		display: none;
	}
}
